[Interface]
Address = 10.254.254.1/32
PrivateKey = {{ (ds "config").server.private_key }}
ListenPort = 51820

PostUp = iptables -A FORWARD -i wg0 -o "$IF" -m conntrack --ctstate NEW,ESTABLISHED,RELATED -j ACCEPT
PostUp = iptables -A FORWARD -o wg0 -j ACCEPT
PostUp = iptables -t nat -A POSTROUTING -s 10.254.254.0/24 -o $IF -j MASQUERADE

PreDown = iptables -D FORWARD -i wg0 -o "$IF" -m conntrack --ctstate NEW,ESTABLISHED,RELATED -j ACCEPT
PreDown = iptables -D FORWARD -o wg0 -j ACCEPT
PreDown = iptables -t nat -D POSTROUTING -s 10.254.254.0/24 -o $IF -j MASQUERADE

{{ range $peer := (ds "config").peers }}
[Peer]
PublicKey = {{ $peer.public_key }}
AllowedIPs = {{ $peer.address }}
{{ end }}
